
/* css reser */
*{
    /* retirar a margem externa */
    margin: 0;
    /* retirar a margem interna */
    padding: 0;
}
header {
    /* cor de fundo */
    background-color: #33333300;
    /* lagura */
    width: 100%;
    /* sombra */
    display: flex;
    align-items: center;   
    gap: 410px; 
    transition: 400ms;
}

/* formatar a class chamada centro */
.centro{
    /* tamanho - lagura */
    width: 1000px;
    /* centralizar */
    margin: auto;
}
/* formatar corpo */
body{
    font-family: arial, verdana;
    font-size: 16px;
}
h2{
    /* centralizar */
    text-align: center;
    /* maiusculo */
    text-transform: uppercase;
    /* tamanho da fonte */
    font-size: 32px;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.grid{
    /* aplicar a grid */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid .coluna{
    /* sombra */
    box-shadow: 0 0 10px;
    /* borda arredondada */
    border-radius: 10px;
    /* margin externa */
    margin: 10px;
}
.grid .coluna img{
    /* largura */
    width: 100%;
    /* arredondar cantos */
    border-radius: 10px 10px 0 0;

}
.grid .coluna p,#zumbies p{
    margin: 15px;
    /* alinhar ao centro */
    text-align: center;
}

footer {
	background-color: black;
	color: #fff;
    width: 99,5%;
	padding: 0%;
	text-align:center;
	margin-top: 9px;
    padding: 12px;
}

#menu ul { 
    padding: 10px;
    margin:0px;
    background-color:#33333300;
    list-style:none;
    text-align: center;
  }

  #menu ul li { display: inline; }

  #menu ul li a { 
    padding: 8px 40px; 
    display: inline-block; /* visual do link */ 
    background-color:#33333300; 
    color: #9b9b9b; 
    text-decoration: none; 
    border-bottom:3px solid #b0b0b0;
    text-align: center; 
    box-shadow:  #b5b4b4 ;
    border-radius: 40px;
}

#menu ul li a:hover { 
    background-color: #333;
    border-bottom:3px solid rgb(58, 255, 248);
    text-align: center;
    box-shadow: 10px 10px 30px;
    transition: 350ms;
    scale: 1.01;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2021/09/30/15/33/dystopia-6670405_1280.jpg");
    background-size: 110vw 165vh; /* Define a largura e altura da imagem em relação à largura e altura da janela de visualização */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

   /*regras para tamanhos de telas diferentes*/
   @media(min-width: 428px) {
    body {
        background-image: url("https://cdn.pixabay.com/photo/2021/09/30/15/33/dystopia-6670405_1280.jpg");
        background-size: cover; /* para cobrir todo o fundo */
        background-position: center; /* para centralizar a imagem */
        
    }
    #zumbies .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #zumbies .coluna {
        width: 35%; /* Ou outro valor, variar de acordo com o desejado  */
        margin: 0 10px;
}
   }



h2 {
    color: #ffffff;
}

p {
    color: #fffefe;
}

strong {
    color: #ffffff;
}

h4 {
    color: #cdcdcd;
}


  header img {
    width: 45px;
  }


body main {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}

#video {
    display: inline-block;
    max-width: 100%;
    height: auto;
    align-items: center;
    border-radius: 40px;
    box-shadow:  #b5b4b4 ;
}

/* explicação do jogo na pagina sobre- incluindo h3 para personalização maior  */
.apresenta h3 {
    text-align: center;
    justify-content: center;
    padding-top: 0%;
    color: #ffffff;
}


.quems h3 {
    text-align: center;
    justify-content: center;
    padding-top: 0%;
    color: #ffffff;
}
.tilt h4 {
    text-align: center;
    justify-content: center;
    padding-top: 0%;
    color: #ffffff;
}

